.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 1rem;
  padding: 1rem 0;
}

.nav-bar h1 {
  font-family: var(--logo-font-family);
  font-size: 2rem;
  position: relative;
  right: 5rem;
}

.nav-bar a {
  color: #000;
}

.nav-bar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  position: relative;
  left: 5rem;
}

.nav-items a {
  font-size: 1.2rem;
  font-family: var(--heading-font-family);
}

.active {
  font-family: var(--heading-font-family);
  font-size: 1.2rem;
  border-bottom: ;
}

@media screen and (max-width: 400px) {
  .nav-bar h1 {
    font-size: 1.5rem;
    right: 0;
  }
}
